/*.sdf
/SyncBuilder.opensdf
/SyncBuilder.v11.suo

/Debug
/libsqlite/Debug
/libsqlite/sqlite3.c
/libsqlite/sqlite3.h
/libsqlite/sqlite3ext.h

/src/Debug

/DebugService

/src/DebugService
/Release

/src/Release
/libsqlite/Release
