/*.sdf
/SyncBuilder.opensdf
/SyncBuilder.v11.suo

/Debug
/libsqlite/Debug
/libsqlite/sqlite3.c
/libsqlite/sqlite3.h
/libsqlite/sqlite3ext.h

/src/Debug

/DebugService

/src/DebugService
/Release

/src/Release
/libsqlite/Release

/Test

/src/*.user
CDebug
SDebug
sblog.log
CDebugService
DebugService
/src/CmdDebug
/CmdDebug

ReleaseService/src
ReleaseService/SyncBuilder
/src/ReleaseService

*.bak

/ReleaseService/SyncBuilder.exe
/ReleaseService/SyncBuilder.pdb

/ReleaseService/*.cfg
src/depcomp
src/ChangeLog
src/config.guess
src/config.h.in
src/config.log
src/config.status
src/config.sub
src/configure
src/COPYING
src/depcomp
src/INSTALL
src/install-sh
src/Makefile
src/Makefile.am
src/Makefile.in
src/missing
src/NEWS
src/README
src/stamp-h1
src/autom4te.cache
src/m4/m4_ax_boost_filesystem.m4

*.Po

src/AUTHORS

src/aclocal.m4

src/config.h

*.o

src/SyncBuilder
